<div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size=<%= current_user.fileSizelimit %> data-dropzone-accepted-files="" data-dropzone-max-files=<%= current_user.maxFileSize %> data-upload-multiple="true">
  <%= form.file_field :files, multiple: true, direct_upload: true, data: { dropzone_target: 'input' } %>
  <div class="dropzone-msg dz-message needsclick">
    <h3 class="dropzone-msg-title">Drag here to upload or click here to browse</h3>
    
  </div>
</div>
