<div class="dropzone dropzone-default dz-clickable" data-controller="dropzone" data-dropzone-max-file-size="200" data-upload-multiple="true">
   <%= form.file_field :files, multiple: true, direct_upload: true, data: { dropzone_target: 'input' } %>
   <div class="dropzone-msg dz-message needsclick">
     <h3 class="dropzone-msg-title">Drag & drop</h3>
     <span class="dropzone-msg-desc">Files only folder will be extracted into 1 folder</span>
   </div>
</div>