<nav>
  <div class='container'>
    <a>        
      <%= image_tag("logo.png", width: '110', height: '50', class: "d-inline-block align-top", alt: "logo", loading: "lazy") %>
    </a>
  </div>
</nav>
