<!-- sidebar.html.erb -->

<aside class="sidebar">
  <nav class="nav">
    <ul class="nav_list">
      <li class="nav_item">
        <a href="/" class="nav_link">Home</a>
      </li>
      <li class="nav_item">
        <a href="/about" class="nav_link">About</a>
      </li>
      <li class="nav_item">
        <a href="/contact" class="nav_link">Contact</a>
      </li>
    </ul>
  </nav>
</aside>
