<div class="container">
  <h1>Folder</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Folder Name</th>
        <th>Content</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @folders.each do |folder| %>
        <tr>
          <td><%= folder.parent_folder_id %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>