<h1 class="text-center color">Departments</h1>

<%= link_to 'New Department', new_department_path, class: 'btn btn-button', style: 'margin-bottom: 10px; margin-left: 10px;' %>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @departments.each do |department| %>
      <tr>
        <td><%= link_to department.name, department_path(department) %></td>
        <td>
          <%= button_to 'Delete', department_path(department), method: :delete, data: { confirm: 'Are you sure?', turbo_confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
