/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* Overall font */
* {
  font-family: "Libre Baskerville", serif;
  box-sizing: border-box;
}

/* Card styles */

.card {
  border: none;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 20px;
  margin-left: 20px;
  vertical-align: top;
  width: 70%;
  display: inline-block;
}

.card-body {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.card-icon {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #007bff;
  margin-bottom: 10px;
}

.card-icon img {
  border: none;
  width: 40px;
  height: 40px;
}

.folder-link:hover {
  color: #ff6b6b;
}

.folder-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.folder-item {
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  width: 220px;
}

.no-bullets {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.blue-link {
  color: #ffffff;
  text-decoration: none;
}

.btn-button {
  color: #ffffff;
  background-color: #ffb6c1;
  border-color: #ffb6c1;
}

.btn-red {
  color: #ffffff;
  background-color: #942838;
  border-color: #942838;
}

.title {
  display: flex;
}

.title > .breadcrumb__item {
  margin-right: 1rem;
  text-decoration: none;
}

.container-yield {
  margin-top: 80px; /* Add some margin to the top of the yield container to prevent it from being blocked by the navbar */
}

.mt-4 {
  margin-top: 0.5rem !important;
}

/* breadcrumbs */
.font-bread {
  font-family: Arial, sans-serif;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.5;
  color: #333;
  margin-left: 10px;
}
.font-bread:hover {
  color: #fd0000;
}

/* navbar_style */

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffb6c1;
  padding: 10px 0;
  z-index: 1;
}

.search-bar {
  background-color: white;
  border-radius: 2rem;
  padding: 0.3rem 1rem;
  margin-left: auto;

  order: 1;
}

.search-bar img {
  margin-right: 30px;
}

.search-bar input[type="search"] {
  background: transparent;
  width: 30vw;
  margin-left: 1rem;
  font-size: 0.9rem;
  color: white;
  text-align: right;
}

.search-bar input[type="search"]::placeholder {
  font-size: 17px;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Libre Baskerville", serif;
  max-width: 19500px;
  margin: 0 auto; /* Center the container horizontally */
  padding: 0 10px;
}

.container > *:first-child {
  font-size: 2rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropbtn {
  background-color: #ffb6c1;
  color: #ffb6c1;
  padding: 0.5rem 1rem;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 2rem;
}

.dropdown-content {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: #ffb6c1;
  padding: 12px 16px;
  right: 0;
  min-width: 160px;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 0.5rem 1rem;
  text-decoration: none;
  display: block;
  transition: background-color 0.3s ease;
}

.dropdown-content a:hover {
  background-color: lightgray;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* User style */
.table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}

.table thead th {
  background-color: #ffb6c1;
  border: 1px solid #ffb6c1;
  border-radius: 0px;
  color: #fff;
  font-weight: bold;
  padding: 0.7rem;
  text-align: left;
}

.table tbody td {
  border: 1px solid #dee2e6;
  padding: 0.5rem;
}

.table tbody tr {
  margin-bottom: 0.5rem;
}

.table tbody tr:hover {
  background-color: #dedddd;
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* viewf_styles css */

.container-fluid-kyle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-fluid-index {
  max-width: 1000px;
  width: 100%;
  padding: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

ul.folder-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

li.folder-item {
  margin: 10px;
}

.card-deck {
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  border: none;
  width: 250px;
  margin: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  text-align: center;
}

.folder-name {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

.folder-link {
  border: none;
  text-decoration: none;
  color: #333;
}
p {
  margin: 20px 0;
  text-align: center;
}

/* home.html.erb */
.All-Users {
  margin-top: 2.5%;
  position: absolute;
  left: 15%;
}

.View-Folders {
  margin-top: 2.5%;
  position: absolute;
  right: 38%;
}

.Log-Out {
  margin-top: 2.5%;
  position: absolute;
  right: 18%;
}

.color {
  color: #2c2a6b;
}

.folderMove {
  margin-left: 0px;
}

.moving {
  margin-left: 35px;
}

.show-page {
  margin-left: 48%;
  margin-top: 10px;
}

.container-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
}

.move {
  margin-right: 10px;
  margin-bottom: 10px;
}

/* vertical */
.customTable {
  margin: 10px;
}

.vertical-1 {
  margin-left: 10px;
  margin-top: 10px;
}

.vertical-2 {
  margin-left: 10px;
  margin-top: 10px;
}

.vertical-3 {
  margin-left: 10px;
  margin-top: 10px;
}

.vertical-4 {
  margin-left: 1000px;
}

.tables-1 {
  margin-left: 10px;
}

.tables-2 {
  margin-left: 10px;
}

.tables-3 {
  margin-left: 10px;
}

.customTable-2 {
  margin-left: 700px;
}
