/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Card styles */

 .card {
  border: none;
   border-radius: 10px;
   margin-bottom: 10px;
   width: 70%; /* Set a width for each card to fit two cards in a row */
   display: inline-block; /* Display cards in inline-block mode */
   margin-right: 20px;
   margin-top: 20px;
   margin-left: 20px; /* Add some margin between cards */
   vertical-align: top; /* Align cards to the top of the row */
 }

.card-body {
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.card-icon {
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #007bff;
  margin-bottom: 10px;
}

.card-icon img {
  width: 40px;
  height: 40px;
}

 .folder-link:hover {
   color: #ff6b6b;
 }

 .folder-list {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
  
  .folder-item {
    display: inline-block; 
    margin-right: 10px;
    text-align: center;
    width: 220px;
  }
  

 .no-bullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
  
.blue-link {
  color: #ffffff;
  text-decoration: none;
}

.btn-light {
  color: #ffffff;
  background-color: #ff6b6b;
  border-color: #ff6b6b;
  
}

.title {
  display: flex;
}

.title > .breadcrumb__item {
  margin-right: 1rem;
  text-decoration: none;
}

.container-yield {
  margin-top: 80px; /* Add some margin to the top of the yield container to prevent it from being blocked by the navbar */
}

.mt-4 {
    margin-top: 0.5rem!important;
}


/* breadcrumbs */
.font-bread{
    font-family: Arial, sans-serif;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.5;
    color: #333;
    margin-left: 10px;

}
.font-bread:hover {
  color: #fd0000;
}

