/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 /* Card styles */

 .card {
   border-radius: 10px;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
   margin-bottom: 10px;
   width: 70%; /* Set a width for each card to fit two cards in a row */
   display: inline-block; /* Display cards in inline-block mode */
   margin-right: 20px;
   margin-top: 20px;
   margin-left: 20px; /* Add some margin between cards */
   vertical-align: top; /* Align cards to the top of the row */
 }

.card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.card-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #007bff;
  margin-bottom: 10px;
}

.card-icon img {
  width: 40px;
  height: 40px;
}

 .folder-link:hover {
   color: #ff6b6b;
 }

 .folder-list {
    list-style-type: none; /* Remove bullet points */
    padding: 0; /* Remove default padding */
    margin: 0; /* Remove default margin */
  }
  
  .folder-item {
    display: inline-block; /* Display list items side by side */
    margin-right: 10px; /* Add some spacing between list items */
  }
  

 .no-bullets {
    list-style-type: none; 
    padding: 0; 
    margin: 0; 
  }
  
