.vertical-edit {
    margin-top: 2.5%;
    position: absolute;
    left:9%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.vertical-delete {
    margin-top: 2.5%;
    position: absolute;
    left:17%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

  }

.vertical-add {
    margin-top: 2.5%;
    position: absolute;
    left:1%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

.vertical-back {
    margin-top: 2.5%;
    position: absolute;
    left:26%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  