*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
  }

  .container{
    width: 80%;
    margin: 0 auto;
  }

  nav {
    width: 100%;
    background-color: #ffb6c1;
    padding: 0.2rem 0;
    position: fixed;
    top: 0;
    z-index: 10;
  }
  

  nav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .search-bar {
    background-color: white;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    margin-right: 1rem;
  }

  .search-bar img {
    margin-right: 30px;
  }  

  .search-bar input[type="search"] {
    background: transparent;
    width: 30vw;
    margin-left: 1rem;
    font-size: 0.9rem;
    color: white;
    text-align: right;
  }

  .search-bar input[type="search"]::placeholder {
    font-size: 17px; 
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: 'Libre Baskerville', serif;
  }

  .container > *:first-child {
    font-size: 2rem;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtn {
    background-color: #ffb6c1;
    color: #ffb6c1;
    padding: 0.5rem 1rem;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 2rem;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #ffb6c1;
    padding: 10px;
    border-radius: 5px;
  }
  
  .dropdown-content a {
    color: black;
    padding: 0.5rem 1rem;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s ease;
  }

  .dropdown-content a:hover {
    background-color: lightgray;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }  