/* Styles for the files table */
.files-table {
    margin-top: 2rem;
  }
  
  .files-table table th {
    text-align: left;
    font-weight: bold;
  }
  
  .files-table table td {
    vertical-align: middle;
  }
  
  .files-table table th:nth-child(3) {
    position: relative;
  }
  
  .files-table table th a {
    font-size: 0.75rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0.5rem;
  }
  
  .files-table table td button {
    padding: 0.25rem 0.5rem;
    font-size: 0.75rem;
    font-weight: bold;
  }
  
  .files-table table td button:hover {
    opacity: 0.8;
  }
  
  .files-table table td button:active {
    opacity: 0.6;
  }
  
  /* Styles for the upload form */
  .upload-form {
    margin-top: 2rem;
  }
  
  .upload-form label {
    font-weight: bold;
  }
  
  .upload-form input[type="file"] {
    margin-bottom: 1rem;
  }
  
  .upload-form .actions button[type="submit"] {
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1rem;
  }
  
  .upload-form .actions button[type="submit"]:hover {
    opacity: 0.8;
  }
  
  .upload-form .actions button[type="submit"]:active {
    opacity: 0.6;
  }
  
  /* Styles for the back/login button */
  .btn-login {
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  
  .btn-login {
    background-color: #3b5998;
    color: #fff;
  }
  
  .btn-login:hover {
    opacity: 0.8;
  }
  
  .btn-login:active {
    opacity: 0.6;
  }
  
  .back-link {
    display: block;
    margin: 0 auto;
    margin-top: 1.2rem;
    font-weight: bold;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    
  }
  
  .actions {
    margin-top: 2rem;
    display: flex;
    justify-content: space-between;
  }  
  
  .actions button {
    margin-right: 0.5rem;
  }
  
  .actions .btn-light {
    margin-right: 0.5rem;
  }
  
  