/* :root {
    font-size: 16px;
    font-family: 'Libre Baskerville', serif;
      --text-primary: #b6b6b6;
      --text-secondary: #ececec;
      --bg-primary: #bf568b;
      --bg-secondary: rgb(100, 97, 97);
    --transition-speed: 600ms;
  }
  
  body::-webkit-scrollbar {
    width: 0.25rem;
  }
  
  body::-webkit-scrollbar-track {
    background: #D65093
  }
  
  body::-webkit-scrollbar-thumb {
    background: black;
  }
  
  main {
    margin-left: 5rem;
    padding: 1rem;
    padding-right: 15px; 
  }
  
  
  .navbar {
    position: fixed;
    background-color: var(--bg-secondary);
    transition: width 600ms ease;
    overflow: scroll;
  }
  
  .navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
  }
  
  .nav-item {
    width: 100%;
  }
  
  .nav-item:last-child {
    margin-top: auto;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
    height: 5rem;
    color: var(--text-secondary);
    text-decoration: none;
    filter: grayscale(100%) opacity(1);
    transition: var(--transition-speed);
  }
  
  .nav-link:hover {
    filter: grayscale(0%) opacity(1);
    background: var(--bg-primary);
    color: var(--text-primary);
  }

  .nav-item {
    position: relative;
  }

  .nav-item:hover > .nav-sub-iteXm {
    display: block;
  }

  .nav-sub-item {
    display: none;
    position: absolute;
    left: 50%;
    top: 0;
    background: rgba(155, 39, 176, .4);
    transform: translateX(50%);

  }
  
  .link-text {
    display: none;
    margin-left: 1rem;
  }
  
  .fa-primary {
    color: #ff7eee;
  }
  
  .fa-secondary {
    color: #df49a6;
  }
  
  .fa-primary,
  .fa-secondary {
    transition: var(--transition-speed);
  }
  
  .logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
    width: 100%;
  }
 
  .logo-text {
    display: inline;
    position: absolute;
    left: -999px;
    transition: var(--transition-speed);
  }
  
  
  @media only screen and (max-width: 600px) {
    .navbar {
      bottom: 0;
      width: 100vw;
      height: 5rem;
    }
  
    .logo {
      display: none;
    }
  
    .navbar-nav {
      flex-direction: row;
    }
  
    .nav-link {
      justify-content: center;
    }
  
    main {
      margin-left: 5rem;
      padding: 1rem;
      padding-right: 15px; 
    }
    
  }
  
  @media only screen and (min-width: 600px) {
    .navbar {
      top: 0;
      width: 5rem;
      height: 100vh;
    }
  
    .navbar:hover {
      width: 16rem;
    }
  
    .navbar:hover .link-text {
      display: inline;
    }
  
    .navbar:hover .logo svg
    {
      margin-left: 11rem;
    }
  
    .navbar:hover .logo-text
    {
      left: -13 px;
    }
  }

  .dropdown-content {
    display: none;
    position: absolute;
    right: -1rem;
    top: 5rem;
    background-color: var(--bg-primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
   */

   